//Created by ANKIT on 19/01/16.
doctype html
html
   head
      style
         include ../public/cssfiles/jobseekerhome.css
      title
         | JobMensa
      script.
         var something = function () {
            alert("applied successfully");
            // Need to update DB
            // Show PopUp
         }
   body
      div(class="header")
         div(id="headertitle")
            | Welcome
      ul
         li
            a(href='/#') Home
         li
            a.active(href='/ViewJobs') View Jobs
         li
            a(href='#update_data') Update Data
         li
            a(href='/logout') logout
      div(style='margin-left:25%;height:300px;' id="news")
         form(action='/saveDataInDB' method="post")
            - var a = data[0];
            - var jid = jobid;
            input(type='hidden', value=a name="employerData")
            input(type='hidden', value=jid name="jobid")
            table
               tr
               td
                  | Name
               td
                  input(type="text", value="#{data[0].name}")
               td
                  | Post
               td
                  input(type="text", value="#{data[0].emp_post}")
               tr
               td
                  | WebSite
               td
                  input(type="text", value="#{data[0].emp_company_webaddr}")
               td
                  | Company Name
               td
                  input(type="text", value="#{data[0].emp_company_name}")
               tr
               td(colspan=4 align='center')
                  input(type="submit", value="Apply")