doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Job Mensa
        link(rel='stylesheet', media='screen', href='../public/cssfiles/style.css')
        link(href='../public/cssfiles/style.css', rel='stylesheet', type='text/css')
        link(href='../public/cssfiles/styles.css', rel='stylesheet', type='text/css')
        script(src='../public/jsfiles/jquery.js')
        script(type='text/javascript', src='../public/jsfiles/jquery.validate.js')

        script.
            $(document).ready(function(){
                $("#table1").validate();
            });
        style.
            .content {
                float: right;
                font-family: "Arial";
                font-size: 11px;
                height: auto;
                margin-top: 5px;
                padding-left: 5px;
                width: 670px;
            }
    body
        // MAIN DIV
        .maindiv
            // Banner
            header
                h1
                    a(title='CSS Junction', href='#')
                        img(src='../public/images/logo.png', width='200px')
                    small Germany Largest Jobsite
            // End Banner
            // Job TITLE
            // / Job TITLE
            // Content
            .w9000.center
                table(style='border-top: 1px solid rgb(255, 255, 255);', width='100%', align='center', border='0', cellpadding='0', cellspacing='0')
                    tbody
                        tr
                            td.azjGrayArial12px(height='30')
                                .content_title
                                    h5
                                        img(src='../public/images/jobs1.png', width='25')
                                        |   Job Seeker Name: #{users[0].name}
                            td.azjGrayArial12px(align='right')
                                a(href='/logout', style='color: #1e7892;text-decoration: none') Logout
                        tr
                            td(colspan='2')
                .leftmenu
                    table#azjmenu(cellpadding='0', cellspacing='1')
                        tbody
                            tr
                            tr
                                td(bgcolor='#FFFFFF')
                                    a(href='/viewResume')
                                        //img(src='images/pix.gif', width='1', height='28', align='middle', border='0')
                                        | View Resume
                            tr
                                td(bgcolor='#FFFFFF')
                                    a(href='/ViewJobs') View Jobs
                            tr
                                td(bgcolor='#FFFFFF')
                                    a(href='/updateSeekerData') Update Data
                            tr
                                td(bgcolor='#FFFFFF')
                                    a(href='/ViewAppliedJobs') Applied Jobs
                .content
                    #medsection1
                        table(width='660', border='0', cellspacing='0', cellpadding='0')
                            tr
                                td.azjtabNormal(width='600', height='57')
                                    div(align='justify')
                                        table(style='margin-bottom: 1px;', width='100%', border='0', cellpadding='0', cellspacing='1')
                                            tbody
                                                tr
                                                    td(colspan='3', height='21', bgcolor='#dadce1')
                                                        table(width='100%', border='0', cellpadding='0', cellspacing='0')
                                                            tbody
                                                                tr
                                                                    td.azjFormTitle(style='padding-left: 11px; padding-right: 1px;')
                                                                        u
                                                                            | Personal
                                                                            | Detail
                                                                    td(width='46')  
                                                tr(valign='top')
                                                    td.azjLebels(valign='middle', width='148', height='30', align='right', bgcolor='#ffffff') Name  :
                                                    td.azjValues2(valign='middle', width='216', height='23', bgcolor='#ffffff') #{users[0].name}
                                                    // PHOTOGRAPH
                                                    td.azjValues2(rowspan='6', width='154', height='-1', align='right', bgcolor='#ffffff')
                                                        // ---------------------Edit by Tanviron 1st August 2014------------------------------------
                                                        table(width='124', height='135', border='0', cellpadding='0', cellspacing='0')
                                                            tbody
                                                                tr
                                                                    td(style='border-right: 1px solid rgb(132, 150, 215); border-bottom: 1px solid rgb(132, 150, 215);')
                                                                        table(width='140', height='140', align='center', bgcolor='#dadce1', border='0', cellpadding='0', cellspacing='7')
                                                                            tbody
                                                                                tr
                                                                                    - var thumb = new Buffer(users[0].img.data).toString('base64');
                                                                                    td(valign='middle', width='126', height='135', align='center', bgcolor='#e2e4e5')
                                                                                        img(src='data:image/jpeg;base64,#{thumb}', width='124', height='135', alt='photo')
                                                // FATHERS NAME:
                                                tr(valign='top')
                                                    td.azjLebels(height='23', align='right', bgcolor='#ffffff')
                                                        | Father's
                                                        | Name :
                                                    td.azjValues2(height='23', bgcolor='#ffffff') #{users[0].father_name}
                                                // MOTHERS NAME:
                                                tr(valign='top')
                                                    td.azjLebels(height='23', align='right', bgcolor='#ffffff')
                                                        | Mother's
                                                        | Name :
                                                    td.azjValues2(height='23', bgcolor='#ffffff') #{users[0].mother_name}
                                                // DATE OF BIRTH:
                                                tr(valign='top')
                                                    td.azjLebels(height='23', align='right', bgcolor='#ffffff') Date of Birth :
                                                    td.azjValues2(height='23', bgcolor='#ffffff') #{users[0].dob}
                                                // GENDER:
                                                tr(valign='top')
                                                    td.azjLebels(height='23', align='right', bgcolor='#ffffff')
                                                        | Gender
                                                        | :
                                                    td.azjValues2(height='23', bgcolor='#ffffff') #{users[0].gender}
                                                // MARITAL STATUS
                                                tr(valign='top')
                                                    td.azjLebels(height='23', align='right', bgcolor='#ffffff')
                                                        | Marital
                                                        | Status :
                                                    td.azjValues2(height='23', bgcolor='#ffffff') #{users[0].marital_status}
                                                // NATIONALITY:
                                                tr(valign='top')
                                                    td.azjLebels(height='23', align='right', bgcolor='#ffffff')
                                                        | Nationality
                                                        | :
                                                    td.azjValues2(colspan='2', height='23', bgcolor='#ffffff') #{users[0].nationality}
                                                // RELIGION:
                                                tr(valign='top')
                                                    td.azjLebels(height='23', align='right', bgcolor='#ffffff')
                                                        | Religion
                                                        | :
                                                    td.azjValues2(colspan='2', height='23', bgcolor='#ffffff') #{users[0].religion}
                                                // PRESENT ADDRESS:
                                                tr(valign='top')
                                                    td.azjLebels(height='30', align='right', bgcolor='#ffffff')
                                                        | Present
                                                        | Address :
                                                    td.azjValues2(colspan='2', height='30', bgcolor='#ffffff') #{users[0].current_addr}
                                                // PERMANENT ADDRESS:
                                                tr(valign='top')
                                                    td.azjLebels(height='30', nowrap='nowrap', align='right', bgcolor='#ffffff')
                                                        | Permanent
                                                        | Address :
                                                    td.azjValues2(colspan='2', height='30', bgcolor='#ffffff') #{users[0].permanent_addr}
                                                // HOME PHONE:
                                                tr(valign='top')
                                                    td.azjLebels(height='23', align='right', bgcolor='#ffffff')
                                                        | Home
                                                        | Phone :
                                                    td.azjValues2(colspan='2', height='23', bgcolor='#ffffff') #{users[0].home_phone}
                                                // MOBILE
                                                tr(valign='top')
                                                    td.azjLebels(height='23', align='right', bgcolor='#ffffff')
                                                        | Mobile
                                                        | :
                                                    td.azjValues2(colspan='2', height='23', bgcolor='#ffffff') #{users[0].mobile_phone}
                                                // EMAIL:
                                                tr(valign='top')
                                                    td.azjLebels(height='23', align='right', bgcolor='#ffffff')
                                                        | Email
                                                        | :
                                                    td.azjValues2(colspan='2', height='23', bgcolor='#ffffff') #{users[0]._id}
                                        table(width='100%', border='0', cellpadding='0', cellspacing='1')
                                            tr
                                            td.azjFormTitle(height='22', colspan='2', bgcolor='#dadce1', style='padding-left:11px; padding-right:1px;')
                                                table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                                    tr
                                                        td.azjFormTitle
                                                            u Employment history
                                            table.azjValign(width='70%', border='0', cellpadding='0', cellspacing='1', style='margin-bottom:1px;')
                                                tr(valign='top')
                                                    td.azjLebels(height='23', align='right', bgcolor='#ffffff')
                                                        | Company Name
                                                        | :
                                                    td.azjValues2(colspan='2', height='23', bgcolor='#ffffff') #{users[0].emp_company_name}
                                                tr(valign='top')
                                                    td.azjLebels(height='23', align='right', bgcolor='#ffffff')
                                                        | Company Address:
                                                    td.azjValues2(colspan='2', height='23', bgcolor='#ffffff')
                                                        textarea #{users[0].emp_company_addr}