//Created by ANKIT on 22/01/16.
doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Job Mensa
        link(rel='stylesheet', media='screen', href='../public/cssfiles/style.css')
        link(href='../public/cssfiles/style.css', rel='stylesheet', type='text/css')
        link(href='../public/cssfiles/styles.css', rel='stylesheet', type='text/css')
        script(src='../public/jsfiles/jquery.js')
        script(type='text/javascript', src='../public/jsfiles/jquery.validate.js')
        script.
            $(document).ready(function () {
                $("#table1").validate();
            });


    body
        // MAIN DIV
        .maindiv
            // Banner
            header
                h1
                    a(title='CSS Junction', href='#')
                        img(src='../public/images/logo.png', width='200px')
                    small Germany Largest Jobsite
            // End Banner
            // Job TITLE
            // / Job TITLE
            // Content
            .w9000.center
                table(style='border-top: 1px solid rgb(255, 255, 255);', width='100%', align='center', border='0', cellpadding='0', cellspacing='0')
                    tbody
                        tr
                            td.azjGrayArial12px(height='30')
                                .content_title
                                    h5
                                        img(src='../public/images/jobs1.png', width='25')
                                        |   Employer Name: #{name}
                            td.azjGrayArial12px(align='right')
                                a(href='/logout', style='color: #1e7892;text-decoration: none') Logout
                        tr
                            td(colspan='2')
                .leftmenu
                    table#azjmenu(cellpadding='0', cellspacing='1')
                        tbody
                            tr
                                td(bgcolor='#FFFFFF')
                                    a(href='/viewEmployerProfile')
                                        //img(src='images/pix.gif', width='1', height='28', align='middle', border='0')
                                        | Home
                            tr
                                td(bgcolor='#FFFFFF')
                                    a(href='/OpenAddjobs') Add Jobs
                            tr
                                td(bgcolor='#FFFFFF')
                                    a(href='/showJobs') View Jobs
                .content
                    #medsection1
                        table(width='660', border='0', cellspacing='0', cellpadding='0')
                            tr
                                td.azjtabNormal(width='600', height='57')
                                    div(align='justify')
                                        br
                                        table(width='600', align='center', border='0', cellspacing='1', cellpadding='0', style='margin-bottom:1px;')
                                            tr
                                                td(colspan='4' align='center')
                                                    h2 Applied Jobs
                                            for user in users
                                                tr.azjLebels(height='23')
                                                    td.azjLebels(bgcolor='#dadce1')
                                                        | Name : #{user[0].name}
                                                    td.azjLebels(bgcolor='#dadce1')
                                                        | Email : #{user[0]._id}
                                                    td.azjLebels(bgcolor='#dadce1')
                                                        | Mobile No : #{user[0].mobile_phone}
                                                    td.azjLebels(bgcolor='#dadce1')
                                                        | Office Phone : #{user[0].office_phone}
                                                tr.azjLebels(height='23')
                                                    td.azjLebels(bgcolor='#dadce1')
                                                        | Current Post : #{user[0].emp_post}
                                                    td.azjLebels(bgcolor='#dadce1')
                                                        | Company Name : #{user[0].emp_company_name}
                                                    td.azjLebels(bgcolor='#dadce1')
                                                        | Webaddress : #{user[0].emp_company_addr}
                                                    td.azjLebels(bgcolor='#dadce1')
                                                        a(href="/openChatView") Start chat with Agent